---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/Api/v3/NextPublicHolidays/US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 2.0, 3.0
      Last-Modified:
      - Wed, 20 Sep 2023 20:09:07 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2023-10-09","localName":"Columbus Day","name":"Columbus Day","countryCode":"US","fixed":false,"global":false,"counties":["US-AL","US-AZ","US-CO","US-CT","US-GA","US-ID","US-IL","US-IN","US-IA","US-KS","US-KY","US-LA","US-ME","US-MD","US-MA","US-MS","US-MO","US-MT","US-NE","US-NH","US-NJ","US-NM","US-NY","US-NC","US-OH","US-OK","US-PA","US-RI","US-SC","US-TN","US-UT","US-VA","US-WV"],"launchYear":null,"types":["Public"]},{"date":"2023-11-10","localName":"Veterans
        Day","name":"Veterans Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2023-11-23","localName":"Thanksgiving
        Day","name":"Thanksgiving Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":1863,"types":["Public"]},{"date":"2023-12-25","localName":"Christmas
        Day","name":"Christmas Day","countryCode":"US","fixed":false,"global":[...]
